<web-app
    version="3.1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee">

    <welcome-file-list>
        <welcome-file>Homepage</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersList</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.UsersList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersCreate</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.UsersCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersUpdate</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.UsersUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersDelete</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.UsersDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HallsList</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.HallsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HallsCreate</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.HallsCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HallsUpdate</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.HallsUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HallsDelete</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.HallsDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoviesList</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.MoviesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoviesCreate</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.MoviesCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoviesUpdate</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.MoviesUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoviesDelete</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.MoviesDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedulesList</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.SchedulesList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedulesCreate</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.SchedulesCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedulesUpdate</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.SchedulesUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SchedulesDelete</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.SchedulesDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersList</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersCreate</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersUpdate</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersDelete</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HallsList</servlet-name>
        <url-pattern>/Halls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HallsCreate</servlet-name>
        <url-pattern>/AddHall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HallsUpdate</servlet-name>
        <url-pattern>/UpdateHall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HallsDelete</servlet-name>
        <url-pattern>/DeleteHall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoviesList</servlet-name>
        <url-pattern>/Movies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoviesCreate</servlet-name>
        <url-pattern>/AddMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoviesUpdate</servlet-name>
        <url-pattern>/UpdateMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoviesDelete</servlet-name>
        <url-pattern>/DeleteMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedulesList</servlet-name>
        <url-pattern>/Schedules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedulesCreate</servlet-name>
        <url-pattern>/AddSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedulesUpdate</servlet-name>
        <url-pattern>/UpdateSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SchedulesDelete</servlet-name>
        <url-pattern>/DeleteSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>