<web-app
    version="3.1"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee">

    <welcome-file-list>
        <welcome-file>Homepage</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Homepage</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.Homepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersList</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.UsersList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersAdd</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.UsersCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersDelete</servlet-name>
        <servlet-class>com.creamy.cinema.servlet.UsersUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Homepage</servlet-name>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersList</servlet-name>
        <url-pattern>/Users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersAdd</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersUpdate</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersDelete</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>